.ae-editable {
    @include selection {
        background: $selection-bg-color !important;
        color: $selection-color;
        text-shadow: $selection-shadow;
    }
}

.ae-accessibility-visible {
	border: 1px solid red;
	padding: 4px;
}

.ae-accessibility-ok {
    background-color: green;
}

.ae-accessibility-fail {
    background-color: red;
}